body {
  background-color: #e9e6e1;
}

.page-header {
  border-bottom: 1px solid #888;
}

#todo-input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}


/* Some styling for the example to be displayed nicely on the tutorial website. */
@media (min-width: 690px) {
  .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
}